---

- name: "18.10.78.1 | PATCH | Ensure 'Enable ESS with Supported Peripherals' is set to 'Enabled: 1'"
  ansible.windows.win_regedit:
      path: HKLM:\Software\Microsoft\Policies\PassportForWork\Biometrics
      name: EnableESSwithSupportedPeripherals
      data: 1
      type: dword
  when: win11cis_rule_18_10_78_1
  tags:
      - level1-corporate-enterprise-environment
      - patch
      - automated
      - rule_18.10.78.1
